html, body {
  background-color: BlanchedAlmond;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Abel;
}

/*div {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}*/

#map {
  height: 100%;
  width: 100%;
  position: relative;
}

#infoBox {
  display: none;
  background-color: #EEEEEE;
  width: 250px;
  position: absolute;
  left: 40%;
  top: 25%;
  padding: 8px;
  border: 5px solid FireBrick;
}

#filter {
  background-color: #EEEEEE;
  height: 100%;
  width: 250px;
  position: absolute;
  top: 0%;
  display: inline-block;
  padding: 10px;
  border-right: 5px solid FireBrick;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: FireBrick;
}

span {
  color: FireBrick;
}

#closeButton {
  text-align: right;
  font-weight: bold;
  color: FireBrick;
}

#closeButton:hover {
  cursor:pointer;
  color: black;
}