@import 'https://fonts.googleapis.com/css?family=Alfa+Slab+One|Abel';
/*@import 'https://fonts.googleapis.com/css?family=Abel';
*/@import 'https://fonts.googleapis.com/css?family=Permanent+Marker';

html, body {
  background-color: BlanchedAlmond;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Abel;
}

h1, h2 {
  font-family: 'Permanent Marker', cursive;
}

.header {
  text-align: center;
}

/*div {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}*/

#map {
  height: 100%;
  width: 100%;
  position: relative;
}

#infoBox {
  display: none;
  background-color: rgba(238, 238, 238, 0.9);
  width: 250px;
  position: absolute;
  left: 40%;
  top: 25%;
  padding: 8px;
  border: 3px solid #e15454;
}

#filter {
  background-color: rgba(238, 238, 238, 0.9);
  height: 100%;
  width: 250px;
  position: absolute;
  top: 0%;
  display: inline-block;
  padding: 10px;
  border-right: 3px solid #e15454;
}


li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #e15454;
}

span {
  color: #e15454;
}

#closeButton {
  text-align: right;
  font-weight: bold;
  color: #e15454;
}

#closeButton:hover {
  cursor:pointer;
  color: black;
}

.map-icon-label .map-icon {
    font-size: 24px;
    color: #FFFFFF;
    line-height: 48px;
    text-align: center;
    white-space: nowrap;
}